<footer>
  <div class="container">
    <a href="#" class="btn back-to-top scroll">
      <i class="fas fa-chevron-up"></i>
    </a>

    <ul class="social-icon">
      <li>
        <h4>Follow Us</h4>
      </li>
      <li>
        <%=link_to 'https://www.facebook.com/mjenzi', title: 'facebook', target: '_blank' do%>
          <i class="fab fa-facebook"></i>
        <% end %>
      </li>
      <li>        
        <%=link_to 'https://twitter.com/mjenzi_tech', title: 'twitter', target: '_blank' do%>
          <i class="fab fa-twitter-square"></i>
        <% end %>
      </li>
      <li>        
        <%=link_to 'https://github.com/mjenzi', title: 'github', target: '_blank' do%>
          <i class="fab fa-github"></i>
        <% end %>
      </li>
      <li>        
        <%=link_to 'https://linkedin.com/company/mjenzi-pty-ltd', title: 'linkedin', target: '_blank' do%>
          <i class="fab fa-linkedin-in"></i>
        <% end %>
      </li>

    </ul>
    <ul class="listCopyRight">
      <li>
         <p>ALL RIGHTS RESERVED. COPYRIGHT © 2017. BUILT AND DESIGNED AT MJENZI ON RUBY 2.3.1 AND RAILS 5.0. BUILD TIME=1 DAY! <a href="https://mjenzi.com"</a> </p>
      </li>
      <li>
        <!-- <a href="#" title="Privacy Policy">Privacy Policy</a> -->
      </li>
    </ul>
    <ul class="listCopyRight" st>
        <div class="col-md-12 contact-info" style="color: #fff;">
          <h4><strong>contact us at Mjenzi</strong></h4>
          <ul>

            <li>
               <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span class="glyphicon-text">Gaborone, Botswana / Nairobi, Kenya</span>

            </li>

            <li>
               <i class="fas fa-phone icon-span"></i>
              <span class="glyphicon-text">+267 71 526 879 / +254 732 902 350</span>
            </li>
            <li>

               <i class="fas fa-envelope icon-span"></i>
              <span class="glyphicon-text">cloud@mjenzi.com</span>
            </li>
          </ul>


        </div>
    </ul>

  </div>
</footer>