<div class="row">
	<div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
		<div class="service-icon">
			<a href="/web-application-development">
				<span class="icon">
					<i class="fa fa-desktop"></i>
				</span>
				<h4><strong>Web Application Development</strong></h4>
			</a>
			 <p>We utilise the Ruby on Rails web application framework to provide our clients a full stack of software products</p>
		</div>
	</div>

  <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
  	<div class="service-icon">
      <a href="/internet-of-things">
      	<span class="icon"> 
      		<i class="fa fa-mobile"></i>
      	</span>			
      	<h4><strong>Internet of Things</strong></h4>
      </a>
      <p>Mjenzi helps organisations make sense of IoT through seamless integration development, strategy advisory and associated data analytics.</p>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
  	<div class="service-icon">
      <a href="/digital-strategy-consulting">
      	<span class="icon"> <i class="fa fa-camera"></i></span>			          
      	<h4><strong>Infrastructure-as-a-Service Cloud Service</strong></h4>
      </a>
      <p>We provide an end-to-end premium hosted cloud platform that brings virtual compute, storage and networking infrastructure within reach</p>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
  	<div class="service-icon">
      <a href="/big-data-analytics">
        <span class="icon"> <i class="fa fa-bullhorn"></i></span>
        <h4><strong>Big Data Analytics</strong></h4>
      </a>
      <p>Mjenzi helps clients navigate big data analytics, visualisation to deliver actionable insights and action plans</p>
    </div>
  </div>
</div>