<article>
	<div class="innerContent">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-7 col-lg-7">
					<br><br>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-7 col-lg-7">
					<h2>
						<span>About</span>
						Mjenzi
					</h2>
					<h4>Who are we?</h4>
					<p>Mjenzi Cloud is an end-to-end premium hosted cloud platform that brings virtual compute, storage and networking infrastructure within reach.Mjenzi Cloud is built on groundbreaking hyperconverged architecture using supercomputer components to ensure web-scale power of a massive cluster that delivers enterprise-grade Public, Private, and Hybrid cloud solutions for both IT departments but also cloud resellers.</p>
				</div>
				<div class="col-12 col-sm-12 col-md-5 col-lg-5">
					<div class="imgBorder">
						<%=image_tag "img-about.jpg" %>
					</div>
				</div>
			</div>
			<ul>
			 <h3>Huge Mjenzi Cloud Benefits/Features:</h3>
			 <div style="margin-left: 30px;">
				 <li>Highly Improved Efficiency – Mjenzi Cloud is EASY to deploy (minutes), use & maintain and adjusts to changing IT needs.</li>
				 <li>Infinite Scaling – Instant & cost-effective scaling - pay only for resources you consume</li>
				 <li>Highly Economical – Lowers compute cost by more than 50% of old cloud.</li>
				 <li>Higher Performance – Provides far greater IO performance for any IT deployment.</li>
				 <li>OpEx vs. CapEx – No capital investment. Build your cloud and deploy it in minutes vs. weeks!</li>
				 <li>Innovation & Reliability – Groundbreaking and highly innovative architecture ensures rock solid stability.</li>
				 <li> Enterprise Compliant & Secure – Industry-leading SLAs effectively address the most stringent deployment security requirements.</li>
				 <li>Open & No Vendor Lock-In – Easily migrate on/off platform with fully open well-documented APIs.</li>
				 <li>GREEN GREEN GREEN – MUCH lower PUE / cost efficiencies with 50%+ smaller hardware footprint.</li>
				 <li> Channel Partner Friendly – Provides a white-label reseller-friendly solution for channel partners.</li>
				 <li>Plus many more technical/product features and business benefits.</li>
				</ul>
			</div>

		</div>
	</div>
</article>