<article>
  <div class="service-container">
    <div id="tf-about">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <%= image_tag "02.png", class:  "img-responsive" %>
          </div>
          <div class="col-md-6">
            <div class="about-text">
              <div class="section-title">
                <h2>Big Data Analytics</h2>
                <hr>
                <div class="clearfix"></div>
              </div>
              <p class="intro">
              </p>
              <div class="about-list">
                <ul class="ind-bullets">

                  <li>Big Data has permeated into most enterprise’s suite of decision toolboxes and Mjenzi assists provide customised solutions for:</li>

                  <ul class="inner-ul">
                    <li>Big data analysis</li>

                  <li>Data visualisation</li>

                  <li>Development of applications that work on big data to provide intelligence and insights to companies and start-ups in industries</li>

                  such as health, insurance, utilities.

                  <li>Cloud computing across servers, networks, storage devices and applications</li>
                    </ul>

                  <li>Mjenzi utilises an existing framework of data analytics service from a partner company that enables us to offer the whole data analytics

                  offering to our customers.</li>

                </ul>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
