<article>
	<div class="innerContent">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-7 col-lg-7">
					<br><br>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12">
					<h2>
						<span>Cloud Solutions</span>
					</h2>

					<h3>Build your Cloud today! </h3>
					<p>Contact us today to roll out your cloud infrastructure however small. All you have to do is choose your preferred  CPU:memory ratio, storage, operating system and networking optioins and we will get you running in minutes</p>
					<h5>Provide a courosel of 4 price points, a very small, small, medium and large Cloud instance. Example below</h5>
				</div>
			</div>
			<div class="row">
				<div class="container mb-5 mt-5">
			    <div class="pricing card-deck flex-column flex-md-row mb-3">
			        <div class="card card-pricing text-center px-3 mb-4">
			            <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">VPS Cloud 1</span>
			            <div>
				            <div>A$ 13.99(ex.GST)/month</div>
				            <div>12 month plan form:</div>	
			            </div>
			            <div class="bg-transparent card-header pt-4 border-0">
			                <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="15">A$<span class="price">12.49</span><span class="h6 text-muted">(ex.GST)/month</span></h1>
			            </div>
			            <div class="card-body pt-0">
			                <ul class="list-unstyled mb-4">
			                    <li>OpenStack KVM</li>
			                    <li>SLA 99.99%</li>
			                    <li>1 VCore(s)</li>
			                    <li>From 3GHz</li>
			                    <li>2 GB RAM</li>
			                    <li>25 GB</li>
			                    <li>High Avaliability(Ceph)</li>
			                </ul>
			                <button type="button" class="btn btn-outline-secondary mb-3">Get Started</button>
			            </div>
			        </div>
			        <div class="card card-pricing popular shadow text-center px-3 mb-4">
			            <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">VPS Cloud 2</span>
			            <div>
				            <div>A$ 25.99(ex.GST)/month</div>
				            <div>12 month plan form:</div>	
			            </div>
			            
			            <div class="bg-transparent card-header pt-4 border-0">
			                <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="30">A$<span class="price">24.49</span><span class="h6 text-muted ">(ex.GST)/month</span></h1>
			            </div>
			            <div class="card-body pt-0">
			               	<ul class="list-unstyled mb-4">
			                    <li>OpenStack KVM</li>
			                    <li>SLA 99.99%</li>
			                    <li>2 VCore(s)</li>
			                    <li>From 3GHz</li>
			                    <li>4 GB RAM</li>
			                    <li>50GB</li>
			                    <li>High Avaliability(Ceph)</li>
			                </ul>
			                <a href="https://www.totoprayogo.com" target="_blank" class="btn btn-primary mb-3">Get Started</a>
			            </div>
			        </div>
			        <div class="card card-pricing text-center px-3 mb-4">
			            <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">VPS Cloud 3</span>
			            <div>
				            <div>A$ 45.99(ex.GST)/month</div>
				            <div>12 month plan form:</div>	
			            </div>
			            <div class="bg-transparent card-header pt-4 border-0">
			                <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="45">$<span class="price">44.49</span><span class="h6 text-muted">(ex.GST)/month</span></h1>
			            </div>
			            <div class="card-body pt-0">
			               <ul class="list-unstyled mb-4">
			                    <li>OpenStack KVM</li>
			                    <li>SLA 99.99%</li>
			                    <li>4 VCore(s)</li>
			                    <li>From 3GHz</li>
			                    <li>8 GB RAM</li>
			                    <li>100 GB</li>
			                    <li>High Avaliability(Ceph)</li>
			                </ul>
			                <button type="button" class="btn btn-outline-secondary mb-3">Get Started</button>
			            </div>
			        </div>
			    </div>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-12 col-lg-12">
				<h3> Become a Reseller today! </h3>
				<div>
					<p>▪ Contact us today for a test drive demo today! </p></br>

					<h5>We are a channel-friendly IaaS company providing;</h5>
           	<p>◦ Multiple cloud infrastructure options;</p>
       			<p>▪ CPU to Ram Ratios (Standard, High CPU and High Memory), </p>
            <p>▪ Storage (SSD, Standard or Archival), </p>
            <p>▪ Windows or Linux preconfigured systems. OS image options include CentOS, Debian, FreeBSD,Ubuntu, Windows Server as well as network operating systems VyOS and pfSense.</p>
            <p>▪ Networking options (Private, Public or Hybrid) </Ubuntu,>
		        <p>◦ Automated white-label billing – bill your clients through our billing solution which is in-built in the Platform. It’s as simple as entering a pricing card.</p>
		        <p>◦ Full personable support from us when you require it.</in-built>
		        <p>◦ Multiple commission scenario on contract length, minimum usage, and upfront payment discounts.</p>
				</div>

			</div>

		</div>
	</div>
</article>