<article>
	<div class="innerContent pb-0">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-7 col-lg-7">
					<br><br>
				</div>
			</div>
			<h2>Contact</h1>
				<p>Fill out a form highlighting a few details about your project.
					We will get back to you shortly to set up an initial consultation.</p>
		</div>
		<div class="boxContactUs">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-4 col-lg-4">
						<div class="boxMap">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d920.0714045066279!2d75.87749082915937!3d22.717622999069285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjLCsDQzJzAzLjQiTiA3NcKwNTInNDAuOSJF!5e0!3m2!1sen!2sin!4v1564998670514!5m2!1sen!2sin"
						 width="100%" height="275" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-12 col-sm-12 col-md-8 col-lg-8">
						<%=render partial: '/shared/contact_us'%>
					</div>
				</div>
				<div class="boxgetInTouch">
					<h3>Get in Touch</h3>
					<p>We're open for any suggestion or just to have a chat.</p>
					<ul class="listDetailBox">
						<li>
							<i class="fas fa-map-marker-alt"></i>
							<a href="#">Gaborone, Botswana / Nairobi, Kenya</a>
						</li>
						<li>
							<i class="fas fa-envelope"></i>
							<a href="mailto:info@24x7softwares.com" title="cloud@mjenzi.com">cloud@mjenzi.com</a>
						</li>
						<li>
							<div><i class="fas fa-phone"></i>
							Mjenzi Cloud in Kenya<a href="tel:26771526879" title="+267 71 526 879"> + 254 722 715 026</a></div>
							<div><i class="fas fa-phone"></i>
							Mjenzi Cloud in Australia <a href="tel:26771526879" title="+267 71 526 879"> +61 405 342 017 </a></div>
							<div><i class="fas fa-phone"></i>
							Mjenzi Cloud in Botswana/SouthAfrica (Whatsapp) <a href="tel:26771526879" title="+267 71 526 879"> +267 71 526 879 </a></div>
						</li>
					</ul>

				</div>
				
			</div>
		</div>
	</div>
</article>
