<% content_for :nav do %>
    <!-- Navigation
==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="margin-top: -15px;">
            <%= image_tag "b-mjenzi-logo-b.png" %>
          </a>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
<% end %>

<!-- About Us Page
==========================================-->
<div class="service-container">
  <div id="tf-about">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <%= image_tag "02.png", class:  "img-responsive" %>
        </div>
        <div class="col-md-6">
          <div class="about-text">
            <div class="section-title">
              <h2>DIGITAL STRATEGY CONSULTING</h2>
              <hr>
              <div class="clearfix"></div>
            </div>
            <p class="intro">Mjenzi is well placed to assist our customers deliver a transformative digital strategy in a market landscape that is increasingly

              embracing the 4th Revolution that is the digital transformation.
            </p>
            <div class="about-list">
              <ul class="ind-bullets">

                <li>We engage with companies to provide advice on suitable digital solutions and strategies that can be adopted in line with particular

                requirements and needs. Well implemented digital strategies are vital to effective customer experiences and at Mjenzi, we focus on

                enabling seamless final consumer experiences. In a world where customers are demanding better and better service quality, Mjenzi

                works with companies to ensure their readiness and innovativeness in responding to these demands. We interrogate relevant data to

                provides insights as well as actionable digital plans.</li>

                <li>Mjenzi is more than just a web development shop but rather, a technology services company that recognises the momentum and

                potential that lies with a digitising world and the need for business as well as government to embrace this digital transformation.</li>

                <li>We provide advice on these areas:</li>

                <ul class="inner-ul">


                  <li>Customer and employee engagement and management</li>

                <li>Social media positioning and strategy</li>

                <li>Big data management and analysis</li>

                <li>Value chain analysis</li>

                <li>Process optimisation</li>

                <li>Digitisation and SaaS advisory. SaaS provides companies a cloud based software application model.</li>

                <li>Internet of Things digital implementations advisory</li>
</ul>

                  </ul>

              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
