<% content_for :nav do %>
    <!-- Navigation
==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="margin-top: -15px;">
            <%= image_tag "b-mjenzi-logo-b.png" %>
          </a>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
<% end %>

<!-- About Us Page
==========================================-->
<div class="service-container">
  <div id="tf-about">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <%= image_tag "02.png", class:  "img-responsive" %>
        </div>
        <div class="col-md-6">
          <div class="about-text">
            <div class="section-title">
              <h2>INFRASTRUCTURE-AS-A-SERVICE CLOUD SERVICES</h2>
              <hr>
              <div class="clearfix"></div>
            </div>
            <p class="intro">Mjenzi is well placed to assist our customers deliver enterprise-grade cloud solutions. Embrace a transformative cloud strategy with us in a market landscape that is increasingly

              embracing the 4th Revolution that is the digital transformation.
            </p>
            <div class="about-list">
              <ul class="ind-bullets">

                <li>Mjenzi Cloud is an end-to-end premium hosted cloud platform that brings virtual compute, storage and networking infrastructure within reach. 
Our Cloud is built on groundbreaking hyperconverged architecture using supercomputer components to ensure web-scale power of a Facebook-like cluster that delivers enterprise-grade Public, Private, and Hybrid cloud solutions for both IT departments but also cloud resellers.
.</li>

                <li>Mjenzi Cloud offers industry leading margins off AWS & Azure pricing and further access to higher margins through contract length, minimum usage, and upfront payment discounts.</li>

                <li>We provide the followind Cloud solutions:</li>

                <ul class="inner-ul">


                  <li>Public Cloud</li>

                <li>Private Cloud</li>

                <li>Hybrid Cloud</li>

                <li>Wholesale Cloud Resale</li>

               <li>Mjenzi Cloud can also provide the followind Cloud Strategy and Advisory solutions:</li>

                <li>Cloud adoption strategy.</li>

                <li>Digitisation and SaaS advisory. SaaS provides companies a cloud based software application model.</li>
</ul>

                  </ul>

              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
