
<article>
  <div class="innerContent">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-7 col-lg-7">
          <br><br>
        </div>
      </div>
      <h2>
        <span>OUR</span>
        Services
      </h2>
      <p>Mjenzi delivers value in the following four key service areas.</p>
      <div class="sec-service">
        <%=render partial: '/shared/services'%>
      </div>
    </div>
  </div>
</article>