<article>
	<div class="innerContent">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-7 col-lg-7">
					<br><br>
				</div>
			</div>
			<h2>The Team</h2>
			<p>Mjenzi Cloud is an end-to-end premium hosted cloud platform that brings virtual compute, storage and networking infrastructure within reach.

			Mjenzi Cloud is built on groundbreaking hyperconverged architecture using supercomputer components to ensure web-scale power of a massive cluster that delivers enterprise-grade Public, Private, and Hybrid cloud solutions for both IT departments but also cloud resellers.</p>
		</div>
	</div>
</article>