<% content_for :nav do %>
    <!-- Navigation
==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="margin-top: -15px;">
            <%= image_tag "b-mjenzi-logo-b.png" %>
          </a>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
<% end %>

<!-- About Us Page
==========================================-->
<div class="service-container">
  <div id="tf-about">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <%= image_tag "02.png", class:  "img-responsive" %>
        </div>
        <div class="col-md-6">
          <div class="about-text">
            <div class="section-title">
              <h2>Ruby on Rails Web Application Development</h2>
              <hr>
              <div class="clearfix"></div>
            </div>
            <p class="intro">Mjenzi is a software development company that follows an agile delivery method.
            </p>
            <div class="about-list">

              <ul class="ind-bullets">
                <li>
                  As described by the <a href="http://www.gartner.com/it-glossary/bimodal/">Gartner's bimodal delivery method</a>, Mjenzi operates as a Mode 2 company focusing on exploratory and

                  experimental development to solve new challenges in an iterative, test-driven approach which leads to the adoption of a minimum viable product (MVP)
                </li>


              <li>We leverage the <a href="http://rubyonrails.org/"> Ruby on Rails</a> web development framework to provide web application development services for companies, small or

              large. Ruby on Rails is our tool of choice as it facilitates fast and scalable development that allows businesses to cut iterative

              development costs whilst still getting a quality outcome for initial product launches.</li>

              <li>We place a particular focus on start-up ventures as see ourselves as the start-up for start-ups. We are passionate about helping young businesses develop robust MVPs in a fast and efficient manner. Mjenzi provides start-ups as well as other established businesses the

              much-needed speed and agility necessary in getting MVPs to market and allows these thriving businesses to focus their efforts on their

              core businesses.</li>

              <li>We partner with businesses to translate their desired journeys into high quality, thoroughly tested, easy to scale web applications.</li>

              <li>Mjenzi will help your company with:

                <ul class="inner-ul">
                  <li>Web applications research</li>

                  <li>Web applications design and development utilising the Ruby and Rails framework and supporting technologies</li>

                  <li>Web integration services</li>

                  <li>E-commerce development on Spree Commerce</li>

                  <li>Mobile payment integration services</li>

                  <li>Development of RESTful APIs</li>

                  <li>Enterprise applications such as content management systems</li>

                </ul>

              </li>


                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
